.glass-nav {
  background-color: rgb(224, 226, 224);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.navbar-nav .nav-link {
  color: rgb(3, 27, 3) !important;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #f18e0d !important;
  text-shadow: 0 0 5px #ffd50088;
}

.brand-name {
  color: rgb(3, 27, 3);;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.dropdown-menu {
  background-color: #abaaaa;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(247, 234, 234);
}


#mapa-linhas h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #093402;
}

select.form-select, button.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 12px;
}











.footer-container {
  background-color: rgb(3, 27, 3);;
  color: whitesmoke;
  padding: 40px 60px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-left h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-center h4,
.footer-right h4 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li {
  margin-bottom: 8px;
}

.footer-center ul li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s;
}

.footer-center ul li a:hover {
  color: #00bfff;
}

.social-icons a img {
  width: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  color: #d85d11;
}
